html,
body {
  height: 100%;
}

body {
  margin: 0;
  verflow: hidden;
}

#guitar {
  display: none;
}

#guitar,
#intro {
  height: 100%;
}

#guitar svg {
  height: auto;
  width: 100%;
}

body svg {
  height: 100%;
  width: auto;
}

body svg #mano1 {
  animation: float 2s -5s ease-in-out infinite backwards;
  -webkit-animation: float 2s -5s ease-in-out infinite backwards;
}

body svg #mano2 {
  animation: float 2s -2.5s ease-in-out infinite backwards;
  -webkit-animation: float 2s -2.5s ease-in-out infinite backwards;
}

body svg #mano3 {
  animation: float 2s 4s ease-in-out infinite backwards;
  -webkit-animation: float 2s -4s ease-in-out infinite backwards;
}

body svg #mano4 {
  animation: float 2s 3.5s ease-in-out infinite backwards;
  -webkit-animation: float 2s -3.5s ease-in-out infinite backwards;
}

body svg #mano5 {
  animation: float 2s 3s ease-in-out infinite backwards;
  -webkit-animation: float 2s -3s ease-in-out infinite backwards;
}

#cabeza {
  animation: move-head .2s alternate infinite;
  -webkit-animation: move-head .2s alternate infinite;
}

#pie {
  animation: move-foot 200ms ease-in-out infinite alternate;
  transform: translate(0.4%, 0) rotate(0deg);
  transform-origin: 0 100%;
  /*left: 50%;*/
  display: block;
  position: absolute;
}

#boton:hover path[stroke='#0015A2'] {
  stroke: #a92b27;
}

path[fill='#0015A2']:hover {
  fill: #a92b27;
}

#luz1 {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

#luz2 {
  animation: blink-animation 2s steps(3, start) infinite;
  -webkit-animation: blink-animation 2s steps(3, start) infinite;
}

@keyframes float {
  50% {
    transform: translateY(-50px);
  }
}

@-webkit-keyframes float {
  50% {
    -webkit-transform: translateY(-50px);
  }
}

@keyframes move-head {
  0%{transform:rotate(-3deg)}
  50%{transform:rotate(0deg)}
}

@-webkit-keyframes move-head {
  0%{transform:rotate(-3deg)}
  50%{transform:rotate(0deg)}
}

@keyframes move-foot {
  0% {
    transform: translate(0.4%, 0) rotate(-1deg);
  }
  100% {
    transform: translate(0.4%, 0) rotate(0.2deg);
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
